body {
    font-family: Arial;
    background-color: #f2f2f2;
}

.form-box {
    width: 400px;
    margin: 150px auto;
    background: white;
    padding: 20px;
    border: 2px solid #ccc;
}

h2 {
    text-align: center;
}

label {
    font-weight: bold;
}

input, select, button {
    width: 100%;
    padding: 6px;
    margin: 8px 0;
    border: 2px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 14px;
}

.input-error {
    border-color: red;
}

.input-valid {
    border-color: green;
}
